@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans-serif";
}

.home-container,
.directory-container,
.newprofile-container {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.general-info {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 5px;
}

.home-container,
.directory-container,
.newprofile-container,
.analysis-container {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000, s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000, s ease-in;
}

/* graph grid styles*/
.graph-grid {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 150px;
}

.graph-wrap {
  overflow: visible;
  height: 0;
  padding: 15% 0 60% 0;
  position: relative;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.graph-wrap > h3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.graph {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}
